
<div class="login-container" >
    <div class="login-form">
        <h1>Add Product</h1>
        <form action="/admin/add-products" enctype="multipart/form-data" method="POST">
            <div class="input-section">
                <input type="text" name="name" required>
                <label>Name</label>
            </div>
            <div class="input-section">
                <label>Brand</label>
                <input type="text" name="brand" required>
            </div>
            <div class="input-section">
                <label>Category</label>
                <input type="text" name="category" required>
            </div>
            <div class="input-section">
                <label>Description</label>
                <input type="text" name="description" required>
            </div>
            <div class="input-section">
                <label>Price</label>
                <input type="text" name="price" required>
            </div>
            <img src="" style="width: 100px;" id="prodimage1">
            <div class="input-section">
                <label>Image 1</label>
                <input type="file" name="image" required>
            </div>
           
            <input type="submit" value="Add">
        </form>
    </div>
</div>
<link rel="stylesheet" href="/stylesheets/style.css">