
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    color: #fff;
    margin: 0;
}
.body {
    margin-top: 80px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    background-color: #000000e8;
    z-index: 10;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
}
header .navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    margin-right: 20px;
    
    font-size: 18px;
}

.navbar .logo {
    font-weight: bold;
}
.nav-links {
    display: inline-block;
}
.menu {
    display: none;
    text-decoration: none;
    margin-right: 15px;
    
    font-size: 18px;
    cursor: pointer;
}
.menu-container {
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    background-color: #00a3ff;
    z-index: 11;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: 1s ease-in-out;
    overflow: hidden;
}
.menu-container a {
    color: #fff;
    text-decoration: none;
    margin: 15px 0;
    font-size: 20px;
}
.menu-container span {
    padding: 25px;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}
#logout-mobile {
    display: none;
}
.menu-container.active {
    opacity: 1;
    visibility: visible;
}
.menu-container .notification {
    color: white;
    background-color: #00a3ff;
    text-decoration: none;
    padding: 10px;
    position: relative;
    display: inline-block;
    border-radius: 50px;
}

.menu-container .notification span {
    color: #fff;
    font-size: 20px;
    padding: 0;
}

.menu-container .notification .badge {
    position: absolute;
    top: -20px;
    right: -25px;
    border-radius: 5px;
    background: #fff;
    color: #00a3ff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container .add-product {
    background-color: #fff;
    color: #00a3ff;
    padding: 15px;
    border-radius: 50px;
}
.search {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.search form {
    width: 100%;
}
.search .input {
    display: flex;
}
.search input[type="text"] {
    width: 90%;
    color: #00a3ff;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0a0a0a;
    padding: 10px;
    border: 1px solid #020202;
    font-size: 20px;
}
.search button {
    width: 10%;
    background-color: #242424;
    color: #0a0a0a;
    font-size: 20px;
    border: 1px solid #020202;
    border: none;
    outline: none;
}
.container {
    width: 100%;
    margin: 0 0 50px 0;
    font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    display: block;
}

.container .card-container {
    width: 100%;
    height: 65vh;
    padding: 0 50px;
    margin: 100px 0 50px 0;
    display: flex;
    justify-content: space-between;
}
.container .card-container:last-child {
    margin-bottom: 150px;
}

.container .card-content {
    padding: 50px;
}

.card-content h1 {
    font-weight: 900;
    font-size: 40px;
    color: #00a3ff;
}
.card-content p {
    font-size: 28px;
    line-height: 34px;
    color: #fffdfd;
}

.card-container .img-container img {
    height: 350px;
}

.card-container button {
    width: 175px;
    height: 50px;
    background: #00a3ff;
    border-radius: 50px;
    margin: 10px 0;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
.card-content .variants {
    margin: 50px 0;
}
.variants img {
    margin-right: 25px;
    height: 100px;
    transition: 0.25s ease-in-out;
}
.variants img:hover {
    transform: translateY(-10px);
}
.notification {
    color: white;
    background-color: #00a3ff;
    text-decoration: none;
    padding: 10px;
    position: relative;
    display: inline-block;
    border-radius: 50px;
}

.notification span {
    color: #fff;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -15px;
    border-radius: 5px;
    background: #fff;
    color: #00a3ff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.login-form {
    border: 1px solid #00a3ff;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 25px;
    width: 600px;
    min-height: auto;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
}

.login-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
}
.login-form h1 {
    padding: 25px 0 0 50px;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #00a3ff;
}
.login-form h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    color: #ff1e00;
}

.input-section {
    width: 100%;
    position: relative;
}

.input-section label {
    position: absolute;
    color: #00a3ff;
    font-size: 15px;
    left: 25px;
    top: 7px;
    padding: 0 5px;
    background-color: #000;
}

.input-section input {
    margin: 15px 0;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #00a3ff;
    font-size: 20px;
    color: #00a3ff;
    box-sizing: border-box;
    background: none;
    border-radius: 50px;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
}

.login-form a {
    text-decoration: none;
    color: dodgerblue;
}

.login-form input[type="submit"] {
    width: 100px;
    height: 50px;
    margin: 25px 0 0 0;
    padding: 0;
    font-family: "Comfortaa", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00a3ff;
    border: none;
    font-size: 18px;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
}
.cart {
    margin: 150px 0 100px 0;
    display: flex;
    justify-content: space-evenly;
    font-family: "Montserrat";
    flex-wrap: wrap;
}
.cart-container {
    margin: 25px 0;
    width: 550px;
    height: 300px;
    background: #0a0a0a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.cart-container .cart-image img {
    height: 200px;
    margin: 25px;
}
.cart-admin-image {
    display: flex;
}

.cart-container .cart-admin-image img {
    height: 75px;
    margin: 10px;
}
.cart-container .cart-content {
    align-self: center;
}
.cart-content h1 {
    margin: 10px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    color: #00a3ff;
}

.cart-content p {
    margin: 5px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
}
.cart-content .btn-section a {
    text-decoration: none;
}
.cart-content .btn-section button {
    background: #00a3ff;
    color: #fff;
    margin: 15px 0;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    font-family: "Montserrat";
}

.cart-content .btn-section .count-button {
    padding: 0;
    width: 25px;
}
.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    font-family: "Montserrat";
}
.empty .cart-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout {
    width: 100%;
    height: 100px;
    background-color: #0a0a0a;
    position: fixed;
    bottom: 0;
    font-family: "Montserrat";
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout div {
    margin-left: 50px;
}
.checkout a {
    font-family: "Montserrat";
    text-align: center;
    text-decoration: none;
    background: #00a3ff;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px;
    width: 150px;
    height: 50px;
    margin-right: 25px;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
}
.order-container {
    width: 100%;
    
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat";
}
.order-container .my-orders {
    background-color: #242424;
    width: 97%;
    margin: 25px;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr;
}
.my-orders .image-container {
    padding: 50px 0;
}
.my-orders .image-container img {
    height: 150px;
    margin: 25px;
}
.order-details,
.order-status,
.delivery-details {
    margin: 20px 0;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.order-details h1,
.order-status h1,
.delivery-details h1 {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 56px;
    color: #00a3ff;
}
.order-details p,
.order-status p,


.delivery-details p {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 36px;
    color: #ffffff;
}
.order-status button {
    font-family: "Montserrat";
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background: #00a3ff;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 50px;
}
.all-users {
    width: 90%;
    margin: 150px auto;
    overflow-x: auto;
    font-family: "Comfortaa";
}
.all-users table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}
.all-users tr:nth-child(1) {
    background-color: #0a0a0a;
}
.all-users tr:hover {
    background-color: #0a0a0a;
}
.all-users th {
    padding: 20px 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #00a3ff;
}
.all-users td {
    padding: 20px 10px;
    font-size: 16px;
}
.profile-container {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}
.profile-container .myprofile {
    width: 450px;
    height: 400px;
    background-color: #0a0a0a;
    padding: 25px;
}
.myprofile h1 {
    color: #00a3ff;
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
}
.myprofile .details {
    width: 100%;
    display: grid;
    margin: 15px 0;
    grid-template-columns: 30px auto;
    padding: 15px;
}
.details i,
.details p {
    word-break: break-all;
    font-size: 18px;
    line-height: 40px;
    color: #00a3ff;
}
.myprofile a {
    text-decoration: none;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    border-radius: 50px;
    background-color: #00a3ff;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
}
.page-not-found {
    margin-top: 150px;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-not-found img {
    height: 300px;
}
.page-not-found h1 {
    font-weight: bold;
    font-size: 45px;
    font-family: "Comfortaa", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 990px) {
    .nav-links {
        display: none;
    }
    .menu {
        display: inline;
    }
    .container {
        margin-top: 0;
        width: auto;
    }
    .container .card-container {
        margin: 75px 0;
        padding: 0px;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .card-container .card-content {
        padding: 0px;
    }
    .card-container .card-content h1 {
        font-size: 30px;
    }
    .card-container .img-container img {
        height: 250px;
    }
}
@media (max-width: 900px) {
    .my-orders .image-container {
        grid-column: 1 / 5;
        justify-content: center;
        text-align: center;
    }
    .order-details {
        grid-column: 1 / 5;
        text-align: center;
    }
    .order-status {
        grid-column: 1 / 5;
        text-align: center;
    }
    .delivery-details {
        grid-column: 1 / 5;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .card-content h1 {
        max-width: 300px;
        word-break: break-all;
    }
}
@media (max-width: 650px) {
    .login-form {
        width: 500px;
    }
    .login-form input {
        font-size: 12px;
    }
    .login-form h1 {
        padding-top: 0px;
        font-size: 25px;
    }
    .card-container .img-container img {
        height: 225px;
    }
}
@media (max-width: 580px) {
    .cart-container {
        width: 400px;
    }
    .cart-container .cart-admin-image {
        flex-direction: column;
    }
    .cart-container .btn-section button {
        padding: 5px;
    }
    .navigation-manual,
    .navigation-auto {
        left: 50px;
    }
}
@media (max-width: 500px) {
    #logout-normal {
        display: none;
    }
    #logout-mobile {
        display: inline-block;
    }
    .login-form {
        width: 400px;
    }
    .variants img {
        margin: 0 10px;
        height: 75px;
    }
    .order-details h1,
    .order-status h1,
    .delivery-details h1 {
        font-size: 24px;
    }
    .order-details h2,
    .order-status h2 {
        font-size: 20px;
    }
    .order-details p,
    .order-status p,
    .delivery-details p {
        font-size: 18px;
    }
    .card-container .img-container img {
        height: 200px;
    }
}
@media (max-width: 450px) {
    .profile-container .myprofile {
        width: 320px;
        padding: 15px 10px;
    }
}
@media (max-width: 410px) {
    header {
        padding-right: 0;
        padding-left: 10px;
    }
    .navbar a {
        margin-right: 10px;
        font-size: 15px;
    }
    .search {
        padding-right: 10px;
    }
}
@media (max-width: 400px) {
    .login-form {
        width: 310px;
    }
    .cart-container {
        width: 310px;
    }
    .cart-container .cart-image img {
        height: 150px;
    }
    .cart-container .cart-admin-image img {
        height: 50px;
    }
    .cart-content h1 {
        font-size: 24px;
    }
    .cart-content p {
        font-size: 18px;
    }
    .login-form h1 {
        padding: 0;
    }
    .navigation-manual,
    .navigation-auto {
        left: 25px;
    }
    .card-container .img-container img {
        height: 150px;
    }
}

