
<body>
  <div class=”Cart-Container”>
    <div class=”Header”>
      <h3 class=”Heading”>Shopping Cart</h3>
      <h5 class=”Action”>Remove all</h5>
    </div>
    <div class=”Cart-Items”>
      <div class=”image-box”>
        <img src="">
      </div>
      <div class=”about”>
        <h1 class=”title”>Apple Juice</h1>
        <h3 class=”subtitle”>250ml</h3>
        <img src="" >
      </div>
      <div class=”counter”></div>
      <div class=”prices”></div>
    </div>
  </div>
</body>
