<div class="card">
    {{>user-header}}
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>

                    <div class="col align-self-center text-right text-muted">Order History</div>

                </div>
            </div>



            <div class="row border-top border-bottom" id="productDivCart">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid"
                            src="https://m.media-amazon.com/images/I/71geVdy6-OS._SL1500_.jpg"></div>

                    <div class="col">

                        <div class="row text-muted">Oppo </div>
                        <div class="row">25</div>
                    </div>



                    <div class="col">

                        <div class="row text-muted">Payment </div>
                        <div class="row">COD</div>
                    </div>


                    <div class="col">

                        <div class="row text-muted">Total  </div>
                        <div class="row">500</div>
                    </div>

                     <div class="col">

                        <div class="row text-muted"> Status</div>
                        <div class="row">Pendingg</div>
                    </div>

                </div>
            </div>


            <div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">

                <div class="col" style="padding-left:0;"> ITEMS </div>
                <div class="col text-right">&#x20b9 <span id="hfgf"> </span></div>

            </div>

            <div class="row" style="border-top: 1px solid rgba(12, 12, 12, 0.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right"> &#x20b9 <span id="carttotalamount">
                        0
                    </span> </div>
            </div> <a href="/place-order" class="btn">CHECKOUT</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/stylesheets/cart.css">
<script src="/javascripts/script.js"></script>